<!-- Modal Frost -->
<div class="modal fade" id="Frost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
         Заморозка </h4>
      </div>
      <form class="form-horizontal">
      <div class="modal-body">
        <div class="alert alert-info" role="alert"
          ng-show="!vm.frdata.is_paid && vm.free_freeze">
          <strong>Бесплатная</strong>
        </div>
        <div class="alert alert-danger" role="alert"
          ng-show="!vm.frdata.is_paid && !vm.free_freeze">
          <strong>Бесплатная заморозка не доступна</strong>
        </div>
        <div class="alert alert-warning" role="alert" ng-show="vm.frdata.is_paid">
          <strong>Платная</strong>
        </div>
        <div class="form-group">
          <label class="col-md-2"> Дней: </label>
          <input class="col-md-4 sinput" type="number" min="1"
          ng-model="vm.frdata.days">
          <label class="col-md-2 control-label">Платная</label>
          <input type="checkbox" class="col-md-1" 
          ng-click="vm.is_paid()"
          ng-model="vm.frdata.is_paid">
        </div>
        <div class="form-group">
          <label class="col-md-2"> Начало: </label>
          <input class="col-md-4 sinput date" ng-model="vm.frdata.fdate">
        </div>
        <div class="form-group" ng-show="vm.frdata.is_paid">
          <label class="col-md-2"> Оплата: </label>
          <input class="col-md-4 sinput" type="number" min="0" step="0.01"
          ng-model="vm.frdata.amount">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-success pull-right"
        data-dismiss="modal" ng-click="vm.freeze()"
        ng-disabled="!vm.frdata.is_paid && !vm.free_freeze">
          Сохранить
        </button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- end modal Frost -->


<!-- Modal PaidActivate -->
<div class="modal fade" id="PaidActivate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
         Платная активация </h4>
      </div>
      <form class="form-horizontal">
      <div class="modal-body">
        <div class="form-group">
          <label class="col-md-2"> Оплата: </label>
          <input class="col-md-4 sinput" type="number" min="0" step="0.01"
          ng-model="vm.padata.paid_activate_amount">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-success pull-right"
        data-dismiss="modal" ng-click="vm.paid_activate()">
          Сохранить
        </button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- end modal PaidActivate -->

<div class="alert alert-info" role="alert" ng-show="vm.aqua.is_frozen">
  <strong> Заморожена</strong>
</div>

<div class="alert alert-info" role="alert" ng-show="!vm.aqua.printed">
  <strong><a ng-href="api/v1/clients/clubcard/{{vm.aqua.id}}/card/">Печать</a></strong>
</div>

<div class="col-md-4"> <!-- start left side bar -->
  <div class="col-md-12 row-border ">
    <h4>
    <i class="fa fa-life-ring">
    </i> Аквааэробика: {{ vm.aqua.name }} </h4>
    <h4><u>{{ vm.aqua.client_name }}</u></h4>
    <h4>ЧС: {{ vm.aqua.client_uid }}</h4>
    <h4>Карта: {{ vm.aqua.client_card }}</h4>
    <h4>Тел.: {{ vm.aqua.client_mobile | phone }}</h4>
  </div>

  <div class="row-border col-md-12">
    <h5 ng-show="vm.aqua.is_paid_activate" class="bg-success">Платная активация</h5>
    <h4>
      <div ng-if="vm.aqua.date_begin">
      c {{ vm.aqua.date_begin | date:'dd.MM.yyyy' }}
      по {{ vm.aqua.date_end | date:'dd.MM.yyyy' }}
      </div>
      <div ng-if="!vm.aqua.date_begin">
       неактивна 
       <button class="btn btn-success"
       data-toggle="modal" data-target="#PaidActivate"
       ng-show="!vm.aqua.is_paid_activate"> Платная активация </button>
      </div>
    </h4>    
  </div>

  <div class="panel panel-default col-md-12">
    <div class="panel-heading"><strong>Заморозка</strong></div>
    <div class="panel-body">
      <button class="btn btn-success btn-block"
      data-toggle="modal" data-target="#Frost"> Записать </button>
      <div class="row" ng-show="vm.aqua.freezeclubcard_set.length">
        <div class="col-md-4">С</div>
        <div class="col-md-4">ПО</div>
        <div class="col-md-4">Дней</div>
      </div>
      <div class="row" ng-repeat="freez in vm.aqua.freezeaqua_set"
       ng-click="collapsed=!collapsed"
       ng-class="freez.is_paid ? 'bg-danger cursor-pointer' : ''">
        <div class="col-md-4"> {{ freez.fdate | date:'dd.MM.yyyy' }} </div>
        <div class="col-md-4"> {{ freez.tdate | date:'dd.MM.yyyy' }} </div>
        <div class="col-md-4"> {{ freez.days }} </div>
        <div ng-show="collapsed && freez.is_paid" class="bg-info col-md-12">
          <div class="col-md-8"> купил: {{ freez.date | date:'dd.MM.yyyy'}} </div>
          <div class="col-md-4"> {{ freez.amount }} руб.</div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- end left side bar -->

<div class="col-md-8"> <!-- start main info -->
  <div class="row col-md-12">
    <div class="col-md-2" ng-switch on="vm.aqua.is_online">
      <button class="btn btn-block btn-success"  
      ng-switch-when="0" ng-click="vm.use(0)">Вход</button>
      <button class="btn btn-block btn-danger" ng-click="vm.use(1)" ng-switch-default>Выход</button>
    </div>
    <div class="col-md-3">
      <a href="#/cardclient/{{ vm.aqua.client}}/" class="btn btn-default btn-block"> Вернуться в карту</a>
    </div>
    <div class="col-md-3">
      <button class="btn btn-block btn-warning" data-toggle="modal" data-target="#BlockCard"
      >Блокировка </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"><center>дата</center></div>
    <div class="col-md-4">время</div>
    <div class="col-md-4">окончание</div>
  </div>      
  <div ng-repeat="use in vm.aqua.useclientaquaaerobics_set">
      <div class="col-md-4"> {{ use.date | date:'dd.MM.yyyy' }} </div>
      <div class="col-md-4"> {{ use.date | date:'HH:mm' }} </div>
      <div class="col-md-4"> {{ use.end | date:'HH:mm' }} </div>
  </div>
</div> <!-- end main info -->

<div class="panel panel-default col-md-12"
 ng-show="vm.aqua.discount_amount || vm.aqua.bonus_amount"> <!-- start bonus info -->
  <div class="panel-heading"><strong>Бонусы при покупке</strong></div>
  <span class="col-md-6" ng-show="vm.aqua.discount_amount">
    <strong>Скидка: {{ vm.aqua.discount_amount }} %</strong>
  </span>
  <span class="col-md-6" ng-show="vm.aqua.bonus_amount">
    <strong>Бонус: {{ vm.aqua.bonus_amount }} руб.</strong>
  </span>
</div> <!-- end bonus info -->

<div class="panel panel-info col-md-12"><!-- payment info -->
  <div class="panel-heading"><strong>Платежи</strong></div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td class="col-md-3">Дата(срок) оплаты</td><td class="col-md-3">Сумма</td><td>Вид платежа</td><td></td>
      </tr>
      <tr ng-repeat="p in vm.aqua.payment_set">
        <td> {{ p.date | date:'dd.MM.yyyy' }} </td>
        <td> {{ p.amount }} руб.</td>
        <td> {{ p.payment_type | payment_type }}</td>
        <td></td>
      </tr>
      <tr ng-repeat="cr in vm.aqua.credit_set">
        <td> {{ cr.schedule | date:'dd.MM.yyyy' }} </td>
        <td> {{ cr.amount }} руб.</td>
        <td>
          <button class="btn btn-warning btn-sm"
          ng-click="show_pay_type=!show_pay_type">
            Оплатить
          </button>
        </td>
        <td>
          <div ng-show="show_pay_type">
            <button class="btn btn-danger btn-xs" ng-click="vm.payment(1, cr.id)">
            нал.
            </button>
            <button class="btn btn-danger btn-xs" ng-click="vm.payment(2, cr.id)">
             безнал.
            </button>
            <button class="btn btn-danger btn-xs" ng-click="vm.payment(3, cr.id)">
             банк
            </button>
            <button class="btn btn-danger btn-xs" ng-click="vm.payment(0, cr.id)">
             иное
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div> <!-- end payment info -->