<!-- Modal use ClubCard -->
<div class="modal fade" id="UseClubCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
        <i class="fa fa-users"></i> Вид занятий </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <button class="btn btn-default col-md-4"
           ng-repeat="train in vm.trainings"
           ng-click="vm.add_train($index)">{{ train.name }} 
          </button>
        </div>
        <table class="table">
         <caption> Список занятий </caption>
          <tr ng-repeat="utrain in vm.use_trainings">
            <td>
              <span class="bg-success col-md-4" >{{ utrain.name }}
              </span>
            </td>
            <td width="20px">
            <i class="fa-2x fa fa-times-circle-o pull-right cursor-pointer"
              ng-click="vm.rm_train($index)"></i>
              </div>
            </td>
          </tr>
        </table>
      </div>
       <div class="modal-footer">
        <button class="btn btn-success pull-right" ng-click="vm.use(0)" data-dismiss="modal">Вход</button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">отмена</button>          
      </div>
    </div>
  </div>
</div> <!-- end modal ClubCard -->
<!-- Modal Guest Training -->
<div class="modal fade" id="GuestPersonal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
         Гостевая тренировка </h4>
      </div>
      <form class="form-horizontal">
      <div class="modal-body">
        <div class="form-group has-warning">
          <label class="col-md-3 control-label">ФИО:</label>
          <div class="col-md-6">
            <input ng-model="vm.fguest.guest" type="text"
            class="form-control" placeholder="ФИО">
          </div>
        </div>
        <div class="form-group has-warning">
            <label class="col-md-3 control-label">Д. рождения:</label>
            <div class="col-md-6">
              <input ng-model="vm.fguest.born" type="text" 
              class="form-control date" placeholder="ДД.ММ.ГГГГ">
            </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Мобильный:</label>
          <div class="col-md-6">
            <input ng-model="vm.fguest.mobile_form" type="text"
            class="form-control mobile" placeholder="Номер телефона">
          </div>

          <label class="col-md-2 control-label">Прямой</label>
          <div class="col-md-1">
            <input type="checkbox" class="mobile-toggle form-control">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-success pull-right" data-dismiss="modal" ng-click="vm.guest()">
          Сохранить
        </button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- end modal Guest Training -->

<!-- Modal Card Personal -->
<div class="modal fade" id="CardPersonal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
         Персоналка бонусная</h4>
      </div>
      <form class="form-horizontal">
      <div class="modal-body">
        <div class="form-group">
          <label class="col-md-2"> Дата: </label>
          <input class="col-md-4 sinput date-time" ng-model="vm.pdata.date">
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Сотрудник:</label>
          <div class="col-md-7">
            <select ng-model="vm.pdata.personal"
            ng-options="employee.id as employee.initials
                        for employee in vm.employees"></select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-success pull-right" data-dismiss="modal" ng-click="vm.personal()">
          Сохранить
        </button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- end modal Card Personal -->

<!-- Modal Fitness -->
<div class="modal fade" id="Fitness" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
         Фитнес тестирование</h4>
      </div>
      <form class="form-horizontal">
      <div class="modal-body">
        <div class="form-group">
          <label class="col-md-2"> Дата: </label>
          <input class="col-md-4 sinput date-time" ng-model="vm.fitdata.date">
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Сотрудник:</label>
          <div class="col-md-7">
            <select ng-model="vm.fitdata.personal"
            ng-options="employee.id as employee.initials
                        for employee in vm.employees"></select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-success pull-right" data-dismiss="modal" ng-click="vm.fitness()">
          Сохранить
        </button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- end modal Fitness -->

<!-- Modal Prolongation -->
<div class="modal fade" id="Prolongation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
         Продление</h4>
      </div>
      <form class="form-horizontal">
      <div class="modal-body">
        <div class="alert alert-info" role="alert"
        ng-show="!vm.prdata.is_paid">
          <strong>Бесплатное</strong>
        </div>
        <div class="alert alert-warning" role="alert"
        ng-show="vm.prdata.is_paid">
          <strong>Платное</strong>
        </div>
        <div class="form-group">
          <label class="col-md-2"> Начало: </label>
          <input class="col-md-4 sinput date-time" ng-model="vm.prdata.date">
        </div>
        <div class="form-group">
          <label class="col-md-2"> Дней: </label>
          <input class="col-md-4 sinput" type="number" min="1"
          ng-model="vm.prdata.days">
          <label class="col-md-2 control-label">Платное</label>
          <input type="checkbox" class="col-md-1" 
          ng-click="vm.is_paid()"
          ng-model="vm.prdata.is_paid">
        </div>
        <div class="form-group" ng-show="vm.prdata.is_paid">
          <label class="col-md-2"> Оплата: </label>
          <input class="col-md-4 sinput" type="number" min="0" step="0.01"
          ng-model="vm.prdata.amount">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-success pull-right" data-dismiss="modal" ng-click="vm.prolongation()">
          Сохранить
        </button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- end modal Prolongation -->

<!-- Modal Frost -->
<div class="modal fade" id="Frost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
         Заморозка </h4>
      </div>
      <form class="form-horizontal">
      <div class="modal-body">
        <div class="alert alert-info" role="alert"
          ng-show="!vm.frdata.is_paid && vm.free_freeze">
          <strong>Бесплатная</strong>
        </div>
        <div class="alert alert-danger" role="alert"
          ng-show="!vm.frdata.is_paid && !vm.free_freeze">
          <strong>Бесплатная заморозка не доступна</strong>
        </div>
        <div class="alert alert-warning" role="alert" ng-show="vm.frdata.is_paid">
          <strong>Платная</strong>
        </div>
        <div class="form-group">
          <label class="col-md-2"> Дней: </label>
          <input class="col-md-4 sinput" type="number" min="1"
          ng-model="vm.frdata.days">
          <label class="col-md-2 control-label">Платная</label>
          <input type="checkbox" class="col-md-1" 
          ng-click="vm.is_paid()"
          ng-model="vm.frdata.is_paid">
        </div>
        <div class="form-group">
          <label class="col-md-2"> Начало: </label>
          <input class="col-md-4 sinput date" ng-model="vm.frdata.fdate">
        </div>
        <div class="form-group" ng-show="vm.frdata.is_paid">
          <label class="col-md-2"> Оплата: </label>
          <input class="col-md-4 sinput" type="number" min="0" step="0.01"
          ng-model="vm.frdata.amount">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-success pull-right"
        data-dismiss="modal" ng-click="vm.freeze()"
        ng-disabled="!vm.frdata.is_paid && !vm.free_freeze">
          Сохранить
        </button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- end modal Frost -->

<div class="alert alert-info" role="alert" ng-show="vm.card.is_frozen">
  <strong> Заморожена</strong>
</div>

<div class="col-md-4">
<div class="col-md-12 row-border ">
  <h4>
  <i class="fa fa-credit-card">
  </i> Клубная Карта: {{ vm.card.name }} </h4>
  <h4><u>{{ vm.card.client_name }}</u></h4>
  <h4>{{ vm.card.client_mobile | phone }}</h4>
</div>
  <div class="row-border col-md-12">
    <h5 ng-show="vm.card.is_paid_activate" class="bg-success">Платная активация</h5>
    <h4>
      c {{ vm.card.date_begin | date:'dd.MM.yyyy' }}
      по {{ vm.card.date_end | date:'dd.MM.yyyy' }}
    </h4>    
  </div>
  <div class="panel panel-default col-md-12" ng-show="vm.card.personal_training || vm.card.personalclubcard_set.length">
    <div class="panel-heading"><strong>Персоналка бонусная</strong></div>
    <div class="panel-body">
      <button class="btn btn-info btn-block"
       ng-show="vm.card.personal_training"
       data-toggle="modal" data-target="#CardPersonal"
       > Записать </button>
      <h4 ng-show="vm.card.personalclubcard_set">
        {{ vm.card.personalclubcard_set[0].date | date:'dd.MM.yyyy' }}
        {{ vm.card.personalclubcard_set[0].employee }}      
      </h4>
    </div>
  </div>

  <div class="panel panel-default col-md-12"
   ng-show="vm.card.fitness_testing_discount || vm.card.fitnessclubcard_set.length">
    <div class="panel-heading"><strong>Фитнес тестирование</strong></div>
    <div class="panel-body">
      <button class="btn btn-info btn-block"
       data-toggle="modal" data-target="#Fitness"
       ng-show="vm.card.fitness_testing_discount"> Записать </button>
      <h4 ng-show="vm.card.fitnessclubcard_set">
        {{ vm.card.fitnessclubcard_set[0].date | date:'dd.MM.yyyy' }}
        {{ vm.card.fitnessclubcard_set[0].employee }}      
      </h4>
    </div>
  </div>

  <div class="panel panel-default col-md-12" ng-show="vm.card.guest_training">
    <div class="panel-heading">
      <strong>Гость 
        ({{ vm.card.guest_training}}/{{vm.card.rest_guest}})
      </strong></div>
    <div class="panel-body">
      <button class="btn btn-warnning btn-block"
      data-toggle="modal" data-target="#GuestPersonal"
      ng-show="vm.card.rest_guest"> Записать </button>


      <div class="row" ng-show="vm.card.guestclubcard_set.length">
        <div class="col-md-6">дата</div>
        <div class="col-md-6">Гость</div>
      </div>
      <div class="row cursor-pointer" ng-repeat="use in vm.card.guestclubcard_set"
       ng-click="collapsed=!collapsed">
        <div class="col-md-6"> {{ use.date | date:'dd.MM.yyyy' }} </div>
        <div class="col-md-6"> {{ use.guest }} </div>
        <div ng-show="collapsed" class="bg-info col-md-12">
          <div class="col-md-6"> {{ use.born | date:'dd.MM.yyyy' }} </div>
          <div class="col-md-6"> {{ use.phone | phone }} </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default col-md-12">
    <div class="panel-heading"><strong>Заморозка</strong></div>
    <div class="panel-body">
      <button class="btn btn-success btn-block"
      data-toggle="modal" data-target="#Frost"> Записать </button>
      <div class="row" ng-show="vm.card.freezeclubcard_set.length">
        <div class="col-md-4">С</div>
        <div class="col-md-4">ПО</div>
        <div class="col-md-4">Дней</div>
      </div>
      <div class="row" ng-repeat="freez in vm.card.freezeclubcard_set"
       ng-click="collapsed=!collapsed"
       ng-class="freez.is_paid ? 'bg-danger cursor-pointer' : ''">
        <div class="col-md-4"> {{ freez.fdate | date:'dd.MM.yyyy' }} </div>
        <div class="col-md-4"> {{ freez.tdate | date:'dd.MM.yyyy' }} </div>
        <div class="col-md-4"> {{ freez.days }} </div>
        <div ng-show="collapsed && freez.is_paid" class="bg-info col-md-12">
          <div class="col-md-8"> купил: {{ freez.date | date:'dd.MM.yyyy'}} </div>
          <div class="col-md-4"> {{ freez.amount }} руб.</div>
        </div>
      </div>
<!--         <tr ng-if="" ng-repeat-end class="bg-danger">
          <td>  </td>
          <td colspan="2">  </td>
        </tr>
      </table> -->
    </div>
  </div>

  <div class="panel panel-default col-md-12">
    <div class="panel-heading"><strong>Продление</strong></div>
    <div class="panel-body">
      <button class="btn btn-primary btn-block"
       data-toggle="modal" data-target="#Prolongation"> Записать
      </button>
      <table class="table" ng-show="vm.card.prolongationclubcard_set.length">
        <tr>
          <td>С</td><td>Дней</td>
        </tr>
        <tr ng-repeat="p in vm.card.prolongationclubcard_set">
          <td> {{ p.date | date:'dd.MM.yyyy' }} </td>
          <td> {{ p.days }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="panel panel-default col-md-12" ng-show="vm.card.credit_set.length">
    <div class="panel-heading"><strong>Долги</strong></div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <td>Дата</td><td>Сумма</td>
        </tr>
        <tr ng-repeat="cr in vm.card.credit_set">
          <td> {{ cr.schedule | date:'dd.MM.yyyy' }} </td>
          <td> {{ cr.amount }} руб.</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="panel panel-default col-md-12" ng-show="vm.card.payment_set.length">
    <div class="panel-heading"><strong>Платежи</strong></div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <td>Дата</td><td>Сумма</td>
        </tr>
        <tr ng-repeat="p in vm.card.payment_set">
          <td> {{ p.date | date:'dd.MM.yyyy' }} </td>
          <td> {{ p.amount }} руб.</td>
        </tr>
      </table>
    </div>
  </div>

</div>

<div class="col-md-8">
  <div class="row col-md-12">
    <div class="col-md-2" ng-switch on="vm.card.is_online">
      <button class="btn btn-block btn-success"  
      ng-switch-when="0" data-toggle="modal" data-target="#UseClubCard">Вход</button>
      <button class="btn btn-block btn-danger" ng-click="vm.use(1)" ng-switch-default>Выход</button>
    </div>
    <div class="col-md-3">
      <a href="#/cardclient/{{ vm.card.client}}/" class="btn btn-default btn-block"> Вернуться в карту</a>
    </div>
  </div>
    <div class="row">
      <div class="col-md-3"><center>дата</center></div>
      <div class="col-md-3">время</div>
      <div class="col-md-3">окончание</div>
      <div class="col-md-3">Занятий</div>
    </div>      
    <div ng-repeat="use in vm.card.useclientclubcard_set"
         ng-click="collapsed=!collapsed">
        <div class="col-md-3"> {{ use.date | date:'dd.MM.yyyy' }} </div>
        <div class="col-md-3"> {{ use.date | date:'HH:mm' }} </div>
        <div class="col-md-3"> {{ use.end | date:'HH:mm' }} </div>
        <div class="col-md-3"> <button class="btn btn-xs btn-warning btn-trainings"
              >{{ use.clubcardtrains_set.length }}</button>
        </div>
        <div ng-show="collapsed" class="bg-info col-md-12">
          <span ng-repeat="train in use.clubcardtrains_set">
            {{ train.name }}, &nbsp;
          </span>
        </div>
    </div>
</div>

<script type="text/javascript">
  jQuery(function($){

   $(".date").mask("99.99.9999");
   $(".date-time").mask("99.99.9999 99:99");
   $(".mobile").mask("(999)-999-9999");
   $(".phone").mask("999-9999");

   $('.mobile-toggle').on('click', function(){
    if ($(this).is (':checked')) {
        $(".mobile").mask("999-9999");
    } else {
        $(".mobile").mask("(999)-999-9999");
    };

   });

});
</script>