<!-- Modal use ClubCard -->
  <div class="modal-body">

  <div class="row">
    <div class="form-group">
      <label class="col-md-2"> Дата входа: </label>
      <input class="col-md-2 sinput date-time" ng-model="vm.train.date">
      <span ng-show="vm.train.end">
        <label class="col-md-2"> Окончание: </label>
        <input class="col-md-2 sinput time" ng-model="vm.train.end">
      </span>
    </div>
  </div>
<br/>
    <div class="row">
      <button class="btn btn-default col-md-4"
       ng-repeat="train in vm.trainings"
       ng-click="vm.add_train($index)">{{ train.name }} 
      </button>
    </div>
    <table class="table">
     <caption> Список занятий </caption>
      <tr ng-repeat="utrain in vm.train.clubcardtrains_set">
        <td>
          <span class="bg-success col-md-4" >{{ utrain.name }}
          </span>
        </td>
        <td width="20px">
        <i class="fa-2x fa fa-times-circle-o pull-right cursor-pointer"
          ng-click="vm.rm_train($index)"></i>
          </div>
        </td>
      </tr>
    </table>
  </div>
   <div class="modal-footer">
    <button class="btn btn-success pull-right" ng-click="vm.use_update()">Сохранить</button>
    <a href="#/usecardclient/{{ vm.train.client_club_card }}" class="btn btn-default pull-left">Назад</a>
  </div>
<script type="text/javascript">
jQuery(function($){

   $(".date-time").mask("99.99.9999 99:99");
   $(".time").mask("99:99");

});
</script>