<i class="fa fa-graduation-cap"></i> Абонемент </h4>
<table class="table">
  <tr>
    <td>дата</td><td>наименование</td>
    <td>остаток дней</td><td>визитов</td>
  </tr>
  <tr>
    <td> {{ vm.personal.date | date:'dd.MM.yyyy' }} </td>
    <td> {{ vm.personal.name }} </td>
    <td> {{ vm.personal.rest_days }} </td>
    <td> {{ vm.personal.rest_visits }} </td>
  </tr>
</table>
<div class="col-md-3">
  <a href="#/cardclient/{{ vm.personal.client }}/" class="btn btn-default pull-left">отмена</a>
</div> 

<div class="col-md-3">
  <button ng-click="vm.use()" class="btn btn-block btn-danger">Использовать</button>
</div>

<div class="col-md-3">
  <button  ng-click="showHistory=!showHistory" class="btn btn-block btn-info">История</button>
</div>

<table class="table" ng-show="showHistory">
  <tr>
    <td>дата</td><td>время</td><td>окончание</td>
  </tr>
  <tr ng-repeat="use in vm.personal.useclientpersonal_set">
    <td> {{ use.date | date:'dd.MM.yyyy' }} </td>
    <td> {{ use.date | date:'HH:mm' }} </td>
    <td> {{ use.end }} </td>
  </tr>
</table>