.cursor-pointer {
    cursor: pointer;
}

.table > tbody > tr > td > span {
  cursor: pointer;
  font-weight: bold;
}

.row-border {
  border: 1px solid;
}

.row-border + .row-border {
        border-top:0 ;
      }

/*
* add more panel color
*/
.text-red {
    color: #D9534F !important;
}
.panel-red {
    background-color: #D9534F;
}

.panel-red .panel-heading {
    border-color: #D9534F;
    color: #FFF;
    background-color: #D9534F;
}

.text-yellow {
    color: #F0AD4E;
}

.panel-yellow {
    background-color: #F0AD4E;
}

.panel-yellow .panel-heading {
    border-color: #F0AD4E;
    color: #FFF;
    background-color: #F0AD4E;
}

.text-green {
    color: #5CB85C;
}

.panel-green {
    background-color: #5CB85C;
}

.panel-green .panel-heading {
    border-color: #5CB85C;
    color: #FFF;
    background-color: #5CB85C;
}

/*.btn-photo {
    margin-left: 350px;
    display: block;
}*/

.photo {
    margin-right: 20px;
}

.webcam {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    float: left;
}

.control-text {
    padding-top: 7px;
    margin-bottom: 0px;
    text-align: left;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.sinput {
   border: 1px solid;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -khtml-border-radius: 5px;
   background: #ffffff !important;
   outline: none;
}