@media screen {
    body {
    margin:0;
    padding:0;
 
   }
}

 @media print { /* Стиль для печати */
    body {
     font-family: Times, 'Times New Roman', serif; /* Шрифт с засечками */
     font-size: 9pt;
    }
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.pagebreak {
    page-break-after: always;
}

.table > tbody > tr > td > span {
  cursor: pointer;
  font-weight: bold;
}

.row-border {
  border: 1px solid;
}

.row-border + .row-border {
        border-top:0 ;
      }

.table-print {
  border-collapse: collapse;
  width: 800px;
}

.table-print td {
  border: 1px solid black;
}