<!-- lists -->
<div class="col-md-3">
  <a href="#/clients" class="btn btn-block btn-default">К списку</a>  
</div>
<div class="clearfix"></div>
<div class="col-md-offset-2 col-md-5">
  Условие сравнения:
  <input type="radio" ng-model="vm.comparison" value="0" checked>Содержит</input>
  <input type="radio" ng-model="vm.comparison" value="1">Начинается</input>
  <input type="radio" ng-model="vm.comparison" value="2">Равно</input>
</div>
<div class="clearfix"></div>

<nav class="navbar navbar-default">
  <form class="navbar-form">
    <div ng-show="vm.err_search_object" class="alert alert-danger"> Выберите поле поиска</div>
    <div ng-show="vm.err_search_text" class="alert alert-danger"> Значение должно превышать три симовола</div>
    <select ng-model="vm.search_object" class="col-md-2 form-control search-obj"
      ng-options="key as value for (key, value) in vm.search_objects">
    </select>
    <input ng-model="vm.search_text" class="col-md-offset-1 col-md-4 form-control search-text" placeholder="Значение"></input>
    <button ng-click="vm.searchClient();" type="button" class="col-md-offset-1 col-md-2 btn btn-primary">Поиск</button>
  </form>
</nav>

  <client client="client"  
    ng-repeat="client in vm.clients">
  </client>
  <div ng-show="!vm.clients.length" class="col-md-offset-3 text-danger">
    <strong>Список пуст</strong>
  </div>

<!-- end of the lists -->
<script type="text/javascript">
  jQuery(function($){
    $(document).on('change', '.search-obj', function() {
      if($(this).val() == 'string:born'){
        $(".search-text").mask("99.99.9999");
      } else {
        $(".search-text").unmask();
      }
    });
    
});
</script>