<!-- Block modals -->

<!-- Modal use ClubCard -->
<div class="modal fade" id="UseClubCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
        <i class="fa fa-credit-card"></i> Клубная Карта </h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td>дата продажи</td><td>наименование</td>
            <td>активирована</td>
            <td>срок действия</td><td>тренировки</td>
          </tr>
          <tr ng-repeat="card in vm.cardclient.clientclubcard_set" 
          ng-class="card.is_frozen ? 'info' : ''">
            <td >
              {{ card.date | date:'dd.MM.yyyy' }}</td>
            <td>
              <span data-href="#/usecardclient/{{ card.id }}"
              ng-class="card.has_overdue_debt ? 'text-red' : ''">
                {{ card.name }}
              </span>
            </td>
            <td> {{ (card.date_begin | date:'dd.MM.yyyy') || 'неактивна' }}</td>
            <td> {{ card.date_end | date:'dd.MM.yyyy' }}</td>
            <td> {{ card.rest_visits }} </td>
          </tr>
        </table>
      </div>
       <div class="modal-footer bg-warning">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">отмена</button>          
      </div>
    </div>
  </div>
</div> <!-- end modal ClubCard -->

<!-- Modal use Aqua -->
<div class="modal fade" id="UseAqua" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
        <i class="fa fa-life-ring"></i> Аквааэробика </h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <tr>
              <td>дата продажи</td><td>наименование</td>
              <td>активирована</td>
              <td>срок действия</td><td>тренировки</td>
            </tr>
            <tr ng-repeat="aqua in vm.cardclient.clientaquaaerobicsfull_set"
            ng-class="aqua.is_frozen ? 'info' : ''">
              <td> {{ aqua.date | date:'dd.MM.yyyy' }} </td>
              <td> 
                <span data-href="#/useaquaaerobics/{{ aqua.id }}">
                  {{ aqua.name }}
                </span>
              </td>
              <td>{{ (aqua.date_begin | date:'dd.MM.yyyy') || 'неактивна' }}</td>
              <td> {{ aqua.date_end | date:'dd.MM.yyyy' }} </td>
              <td> {{ aqua.rest_visits }} </td>
            </tr>
          </table>
        </div>
       <div class="modal-footer bg-info">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">отмена</button>          
      </div>
    </div>
  </div>
</div> <!-- end modal Aqua -->

<!-- Modal use Ticket -->
<div class="modal fade" id="UseTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
        <i class="fa fa-ticket"></i> Абонемент </h4>
      </div>
        <div class="modal-body">
          <table class="table">
            <tr>
              <td>дата продажи</td><td>наименование</td>
              <td>активирована</td>
              <td>срок действия</td><td>тренировки</td>
            </tr>
            <tr ng-repeat="ticket in vm.cardclient.clientticket_set"
            ng-class="ticket.is_frozen ? 'info' : ''">
              <td> {{ ticket.date | date:'dd.MM.yyyy' }} </td>
              <td> 
                <span data-href="#/useticket/{{ ticket.id }}">
                  {{ ticket.name }}
                </span>
              </td>
              <td>{{ (ticket.date_begin | date:'dd.MM.yyyy') || 'неактивна' }}</td>
              <td> {{ ticket.date_end | date:'dd.MM.yyyy' }} </td>
              <td> {{ ticket.rest_visits }} </td>
            </tr>
          </table>
        </div>
       <div class="modal-footer bg-success">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">отмена</button>          
      </div>
    </div>
  </div>
</div> <!-- end modal Ticket -->


<!-- Modal use Personal -->
<div class="modal fade" id="UsePersonal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
        <i class="fa fa-graduation-cap"></i> Персональная тренировка </h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td>дата</td><td>наименование</td>
              <td>срок действия</td><td>визитов</td>
              <td>вход</td>
          </tr>
          <tr ng-repeat="personal in vm.cardclient.clientpersonal_set">
            <td> {{ personal.date | date:'dd.MM.yyyy' }} </td>
            <td> <span data-href="#/usepersonal/{{ personal.id }}">{{ personal.name }} </span></td>
            <td> {{ personal.date_end | date:'dd.MM.yyyy' }} </td>
            <td> {{ personal.rest_visits }} </td>
            <td ng-switch on="personal.is_online">
              <button class="btn btn-block btn-success"
              ng-click="vm.personaluse(personal.id, 0)" ng-switch-when="0">
                Вход
              </button>
              <button class="btn btn-block btn-danger"
              ng-click="vm.personaluse(personal.id, 1)" ng-switch-default>
                Выход
              </button>
            </td>
          </tr>
        </table>
      </div>
       <div class="modal-footer bg-danger">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">отмена</button>
      </div>
    </div>
  </div>
</div> <!-- end modal Personal -->


<!-- Modal use Timing -->
<div class="modal fade" id="UseTiming" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 800px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
        <i class="fa fa-clock-o"></i> С учетом времени </h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td>дата</td><td>наименование</td>
            <td>Срок действия</td><td>минут</td>
            <td colspan="2">вход</td>
          </tr>
          <tr ng-repeat="timing in vm.cardclient.clienttiming_set">
            <td> {{ timing.date | date:'dd.MM.yyyy' }} </td>
            <td> <span  data-href="#/usetiming/{{ timing.id }}">{{ timing.name }} </span></td>
            <td> {{ timing.date_end | date:'dd.MM.yyyy' }}</td>
            <td> {{ timing.rest_minutes }} </td>
            <td style="width: 100px;">
              <input ng-model="vm.fdata.minutes" type="number" class="form-control col-sm-6">
            </td>
            <td>
              <button class="btn btn-success" ng-click="vm.timinguse(timing.id)">
                Вход
              </button>
            </td>
          </tr>
        </table>
      </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">отмена</button>
      </div>
    </div>
  </div>
</div> <!-- end modal Timing -->

<!-- End Block modal -->

<div class="alert alert-danger alert-dismissible" role="alert" ng-repeat="debt in vm.cardclient.debt_set">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong> Долг: </strong> 
  {{ debt.schedule | date:'dd.MM.yyyy'}} {{ debt.name }} : 
  <strong> {{ debt.amount }} руб. </strong>
</div>

<div class="alert alert-warning alert-dismissible" role="alert" ng-repeat="debt in vm.cardclient.debtupcoming_set">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong> Скоро к оплате: </strong> 
  {{ debt.schedule | date:'dd.MM.yyyy'}} {{ debt.name }} : 
  <strong> {{ debt.amount }} руб. </strong>
</div>

<div class="alert alert-warning alert-dismissible" role="alert" ng-show="vm.cardclient.note">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Примечание: {{ vm.cardclient.note }}</strong>
</div>

<form class="form-horizontal col-md-6">
<div class="form-group">
  <div class="col-md-3" ng-show="!vm.cardclient.introductory_date">
    <a ng-href="#/client-introductory/{{ vm.cardclient.id }}/" 
    class="btn btn-block btn-info"
    >Вводный инструктаж</a>
  </div>
  <div class="col-md-3" ng-show="vm.cardclient.introductory_date">
    <span>Вводный инструктаж</span>
    <span>{{ vm.cardclient.introductory_date | date:'dd.MM.yyyy' }}</span>
    <span>{{ vm.cardclient.introductory_employee_name }}</span>
    <a ng-href="#/client-introductory/{{ vm.cardclient.id }}/" 
    class="btn btn-block btn-primary btn-xs"
    >изменить</a>
  </div>
  <a class="btn btn-warning col-md-3"
     href="#/edit-client/{{ vm.cardclient.id }}/">
      Правка
  </a>
  <a  href="#/archive/{{ vm.cardclient.id }}/" class="btn btn-info col-md-3">
    Архив
  </a>
  <a  href="/api/v1/clients/client/{{vm.cardclient.id}}/personal/" class="btn btn-default col-md-3">
    Членское
  </a>  
</div>

  <div class="form-group">
    <label class="control-label col-md-8">
      {{ vm.cardclient.full_name }}
      {{ vm.cardclient.born | date:'dd.MM.yyyy' }}
    </label>
    <label class="col-md-3 control-label text-danger">Карта: {{ vm.cardclient.card }}</label>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">ЧС:</label>
    <label class="col-md-8 control-text"> {{ vm.cardclient.uid }}</label>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">Дата ЧС:</label>
    <label class="col-md-8 control-text"> {{ vm.cardclient.date | date:'dd.MM.yyyy' }}</label>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">Мобильный:</label>
    <label class="col-md-8 control-text"> {{ vm.cardclient.mobile | phone }}</label>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">Прямой:</label>
    <label class="col-md-8 control-text"> {{ vm.cardclient.phone | phone }}</label>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">Адрес: </label>
    <label class="col-md-8 control-text"> {{ vm.cardclient.address }}
    </label>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">Паспорт: </label>
    <label class="col-md-8 control-text"> {{ vm.cardclient.passport }}</label>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">Эл. адрес:</label>
    <label class="col-md-8 control-text"> {{ vm.cardclient.email }}</label>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">Доступно :</label>
    <div class="col-md-9 btn-toolbar">
        <button class="btn btn-warnning col-md-2"
         data-toggle="modal" data-target="#UseClubCard"
         ng-show="vm.cardclient.clientclubcard_set.length">
          <i class="fa fa-credit-card"></i>
        </button>
        <button class="btn btn-info col-md-2"
         data-toggle="modal" data-target="#UseAqua"
         ng-show="vm.cardclient.clientaquaaerobicsfull_set.length">
          <i class="fa fa-life-ring"></i>
        </button>
        <button class="btn btn-success col-md-2"
         data-toggle="modal" data-target="#UseTicket"
         ng-show="vm.cardclient.clientticket_set.length">
          <i class="fa fa-ticket"></i>
        </button>
        <button class="btn btn-danger col-md-2"
         data-toggle="modal" data-target="#UsePersonal"
         ng-show="vm.cardclient.clientpersonal_set.length">
          <i class="fa fa-graduation-cap"></i>
        </button>
        <button class="btn btn-default col-md-2"
         data-toggle="modal" data-target="#UseTiming"
         ng-show="vm.cardclient.clienttiming_set.length">
          <i class="fa fa-clock-o"></i>
        </button>
    </div>
  </div>

<div class="col-md-4">
  <a href="#/clients" class="btn btn-block btn-default">К списку</a>  
</div>

<div class="col-md-4">
  <a href="#/new-client-product/{{ vm.cardclient.id }}/" class="btn btn-block btn-info">Оформить услугу</a>  
</div>

</form>
<img class="col-md-4 col-md-offset-2" ng-src="{{ vm.cardclient.avatar_url }}">
<div class="col-md-4 col-md-offset-2">
  <a href="#/photo-client/{{ vm.cardclient.id }}" class="btn btn-block btn-warning">Обновить фото</a>  
</div>
<hr/>
<script  type="text/javascript">
  $(document).on('click','td span', function() {
    var url = $(this).attr('data-href')
    $(this).closest('.modal').modal('hide'); // hide modal dialog
    setTimeout(function(){
      window.location.href = url
    }, 500);
  });

  $(document).on('click', 'td button', function() {
    $(this).closest('.modal').modal('hide'); // hide modal dialog
  });
</script>