<div class="alert alert-info col-md-12" >
<span class="col-md-3">
    <a href="#/cardclient/{{ client.id }}/">{{ client.full_name }}</a>
</span>
<span class="col-md-1">{{ client.uid }}</span>
<span class="col-md-2">{{ client.email }}</span>
<span class="col-md-1">{{ client.born | date:'dd.MM.yyyy' }}</span>
<span class="col-md-2">{{ client.mobile | phone }}</span>
<span class="col-md-3">
    <i class="fa fa-credit-card fa-2x bg-warning"
    ng-show="client.has_clientclubcard"></i>
    <i class="fa fa-life-ring fa-2x bg-warning"
    ng-show="client.has_clientaquaaerobics"></i>
    <i class="fa fa-ticket fa-2x bg-warning"
    ng-show="client.has_clientticket"></i>
    <i class="fa fa-graduation-cap fa-2x bg-warning"
    ng-show="client.has_clientpersonal"></i>
    <i class="fa fa-clock-o fa-2x bg-warning"
    ng-show="client.has_clienttiming"></i>
</span>
</div>