<form>

<div class="panel panel-warning" ng-show="vm.list_matches.length">
  <div class="panel-heading"
    ng-click="vm.matches_show=!vm.matches_show">
    <strong>Есть совпадения</strong>
  </div>
  <div class="panel-body">
    <client client="client" ng-show="vm.matches_show"
      ng-repeat="client in vm.list_matches">
    </client>
  </div>
</div>

<div class="row">
  <div class="form-group has-warning">
    <label class="col-md-2 control-label">Фамилия:</label>
    <div class="col-md-4">
      <input ng-model="vm.fdata.last_name" type="text"
      class="form-control" placeholder="Фамилия"
      ng-blur="vm.search_client()">
    </div>
  </div>

  <div class="form-group">
      <label class="col-md-1 control-label">Пол:</label>
      <label class="col-md-1 control-label">М</label>
      <div class="col-md-1">
        <input ng-model="vm.fdata.gender" type="radio"
        name="gender" value="1">
      </div>
      <label class="col-md-1 control-label">Ж</label>
      <div class="col-md-1">
        <input ng-model="vm.fdata.gender" type="radio"
        name="gender" value="0">
      </div>
  </div> 
</div>

<div class="row">
  <div class="form-group has-warning">
    <label class="col-md-2 control-label">Имя:</label>
    <div class="col-md-4">
      <input ng-model="vm.fdata.first_name" type="text"
      class="form-control" placeholder="Имя"
      ng-blur="vm.search_client()">
    </div>
  </div>
  <div class="form-group">
      <label class="col-md-2 control-label">Д. телефон:</label>
    <div class="col-md-4">
      <input ng-model="vm.fdata.phone_str" type="text"
      class="form-control phone" placeholder="Домашний телефон">
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group has-warning">
    <label class="col-md-2 control-label">Отчество:</label>
    <div class="col-md-4">
      <input ng-model="vm.fdata.patronymic" type="text"
      class="form-control" placeholder="Отчество"
      ng-blur="vm.search_client()">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Адрес:</label>
    <div class="col-md-4">
      <input ng-model="vm.fdata.address" type="text"
      class="form-control" placeholder="Адрес">
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group has-warning">
    <label class="col-md-2 control-label">Д. рождения:</label>
    <div class="col-md-4">
      <input ng-model="vm.fdata.born" type="text" 
      class="form-control date" placeholder="ДД.ММ.ГГГГ">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Номер паспорта:</label>
    <div class="col-md-4">
      <input ng-model="vm.fdata.passport_number" type="text"
      class="form-control" placeholder="Номер паспорта">
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <label class="col-md-2 control-label">Мобильный:</label>
    <div class="col-md-2">
      <input ng-model="vm.fdata.mobile_form" type="text"
      class="form-control mobile" placeholder="Номер телефона">
    </div>
    <label class="col-md-1 control-label">Прямой</label>
    <div class="col-md-1">
      <input type="checkbox" class="mobile-toggle form-control">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Когда выдан:</label>
    <div class="col-md-4">
      <input ng-model="vm.fdata.passport_date" type="text"
      class="form-control date" placeholder="ДД.ММ.ГГГГ">
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <label class="col-md-2 control-label">Эл. адрес:</label>
    <div class="col-md-4">
      <input ng-model="vm.fdata.email" type="email"
      class="form-control" placeholder="Эл. адрес">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Кем выдан:</label>
    <div class="col-md-4">
      <input ng-model="vm.fdata.passport_issued" type="text"
      class="form-control" placeholder="Кем выдан">
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <label class="col-md-2 control-label">Номер карты:</label>
    <div class="col-md-4">
      <input ng-model="vm.fdata.card" type="number"
      class="form-control" placeholder="Номер карты">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Примечание:</label>
    <div class="col-md-4">
      <input ng-model="vm.fdata.note" type="text"
      class="form-control" placeholder="Примечание">
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <div class="col-md-2">
      <button class="btn btn-large btn-warning" ng-show="!hide_photo"
      ng-click="hide_photo=!hide_photo">Скрыть фото</button>      
    </div>
    <div class="col-md-offset-2 col-md-2">
      <button class="btn btn-large btn-primary"
      ng-click="vm.makeSnapshot()">Фото</button>
    </div>
    <div class="col-md-offset-2 col-md-2">
      <button class="btn btn-large btn-warning" ng-show="hide_photo"
      ng-click="hide_photo=!hide_photo">Показать фото</button>
    </div>
  </div>
</div>

<div class="row" ng-show="!hide_photo">
    <div class="col-md-6 pull-right">
      <canvas height="240" width="320" id="snapshot" class="well photo"></canvas>
    </div>
    <div class="col-md-6 pull-right">
      <webcam channel="vm.myChannel" on-streaming="vm.onSuccess()"></webcam>
    </div>
</div>

<div class="row">
  <div class="form-group">
  <a href="#/clients" class="btn btn-default pull-left">отмена</a>

  <button type="submit" class="btn btn-primary pull-right" ng-click="vm.submit()">сохранить</button>          
  </div>
</div>
</form>
<script type="text/javascript">
  jQuery(function($){
   $(".date").mask("99.99.9999");
   $(".mobile").mask("(999)-999-9999");
   $(".phone").mask("999-9999");

   $('.mobile-toggle').on('click', function(){
    if ($(this).is (':checked')) {
        $(".mobile").mask("999-9999");
    } else {
        $(".mobile").mask("(999)-999-9999");
    }
   })
});
</script>