<form >
<div class="row col-md-12 bg-info">
    <center><strong>
      {{ vm.client.full_name }}
      {{ vm.client.born | date:'dd.MM.yyyy' }}
    </strong></center>
</div>

<div class="row col-md-12 bg-warning">
    <table class="table">
    <caption>
      <strong>Ранее куплено</strong>
      <button class="btn btn-primary btn-xs"
      ng-click="vm.all_last=!vm.all_last">Все</button>

    </caption>
     <thead>
      <tr>
        <th>Наименование</th><th>Начало</th>
        <th>Окончание</th><th width="250">Скидка</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ vm.last_first.name }}</td>
        <td>{{ vm.last_first.date_start | date:'dd.MM.yyyy' }}</td>
        <td>{{ vm.last_first.date_end | date:'dd.MM.yyyy' }}</td>
        <td>{{ vm.last_first.discount_name || 'Нет'}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr ng-repeat="card in vm.last_last" ng-show="vm.all_last">
        <td>{{ card.name }}</td>
        <td>{{ card.date_start | date:'dd.MM.yyyy' }}</td>
        <td>{{ card.date_end | date:'dd.MM.yyyy' }}</td>
        <td>{{ card.discount_name || 'Нет' }}</td>
      </tr>
    </tfoot>      
    </table>
</div>

<div class="row">
<br/><br/>
  <div class="col-md-offset-1 col-md-2">
    <button ng-click="vm.reset(); vm.options=vm.clubcards; vm.product='card'"
    class="btn btn-block btn-warning">
      Клубная карта
    </button>
  </div>

  <div class="col-md-2">
    <button ng-click="vm.reset(); vm.options=vm.aquaaerobicses; vm.product='aqua'" class="btn btn-block btn-info">
      Аквааэробика
    </button>
  </div>

  <div class="col-md-2">
    <button ng-click="vm.reset(); vm.options=vm.tickets; vm.product='ticket'" class="btn btn-block btn-success">
      Абонемент
    </button>
  </div>

  <div class="col-md-2">
    <button ng-click="vm.reset(); vm.options=vm.personals; vm.product='personal'" class="btn btn-block btn-danger">
      Персональные тренировки
    </button>
  </div>

  <div class="col-md-2">
    <button ng-click="vm.reset(); vm.options=vm.timings; vm.product='timing'" class="btn btn-block btn-default">
      С учетом времени
    </button>
  </div>
</div>
<br/>

<div class="alert alert-danger alert-dismissible" role="alert"
ng-show="vm.error_amount">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong> Ошибка итоговой сумму (или не указана сумма платной активации)</strong>
</div>

<div class="panel panel-default">
  <div class="panel-body">
      <div class="col-md-7">
        <strong class="col-md-3">{{ vm.product_choose(vm.product) }}</strong>
        <div class="col-md-9">
          <select ng-model="vm.fdata.product"
           class="container-full" 
           ng-options="o.id as o.name for o in vm.options">
          </select>
        </div>
      </div>
        <div ng-show="vm.product=='card'" class="col-md-2">
          <label class="text-success"><i class="fa fa-rub"></i> активация</label>
          <input type="checkbox" ng-model="vm.fdata.is_paid_activate"/>
        </div>
        <div ng-show="vm.fdata.is_paid_activate" class="col-md-3">
          <label class="text-success"> Сумма: </label>
          <input class="sinput" type="number" min="0" value="0" 
          ng-model="vm.fdata.paid_activate_amount">
        </div>
   </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
      <div class="col-md-7">
        <strong class="col-md-3">продавец</strong>
        <div class="col-md-9">
          <select ng-model="vm.fdata.employee"
           class="container-full" 
           ng-options="e.id as e.initials for e in vm.employees">
          </select>
        </div>
      </div>
   </div>
</div>

<div class="col-md-12">
  <div class="col-md-3">
    <label>Стоимость: {{ vm.fdata.price }}</label>
  </div>
  <div class="col-md-3">
    <label >Скидка: </label>
    <input class="sinput pull-right" type="number" min="0" max="100" step="0.01"
    ng-model="vm.fdata.discount"> %
  </div>
  <div class="col-md-3">
    <label class="text-danger">Итого: 
    {{ vm.total() }}</label>
  </div>
  <div class="col-md-3">
    <label >Оплата: </label>
    <input class="sinput" type="number" min="0" step="0.01"
    ng-model="vm.fdata.amount" value="vm.total">
  </div>  
<br/><br/>
</div>
<div class="col-md-12" ng-show="vm.fdata.discount > 0">
  <div class="col-md-3">
    &nbsp;
  </div>
  <div class="col-md-5">
    <label>Вид Скидки</label>
    <select ng-model="vm.fdata.discount_type"
     ng-options="o.id as o.description for o in vm.discounts">
    </select>
  </div>
  <div class="col-md-3 text-danger" ng-show="vm.error_discount">
    <label>Выберите вид скидки</label>
  </div>
</div>

<div class="col-md-12">
  <div class="col-md-3 col-md-offset-3">
    <label >Бонус: </label>
    <input class="sinput pull-right" type="number" min="0" step="0.01"
    ng-model="vm.fdata.bonus_amount"> руб.
  </div>  
<br/><br/>
</div>

<div class="col-md-12" ng-show="vm.fdata.bonus_amount > 0">
  <div class="col-md-3">
    &nbsp;
  </div>
  <div class="col-md-5">
    <label>Вид Бонуса</label>
    <select ng-model="vm.fdata.bonus_type"
     ng-options="o.id as o.description for o in vm.discounts">
    </select>
  </div>
  <div class="col-md-3 text-danger" ng-show="vm.error_bonus">
    <label>Выберите вид бонуса</label>
  </div>
</div>

<div class="col-md-12">
  <label class="col-md-2 control-label">Вид оплаты:</label>
    <div class="col-md-2">
      <label class="control-label">Иное</label>
      <input ng-model="vm.fdata.payment_type" type="radio"
      name="payment_type" value="0">
    </div>
    <div class="col-md-2">
    <label class="control-label">Наличные</label>
      <input ng-model="vm.fdata.payment_type" type="radio"
      name="payment_type" value="1">
    </div>
    <div class="col-md-2">
      <label class="control-label">Безналичные</label>
      <input ng-model="vm.fdata.payment_type" type="radio"
      name="payment_type" value="2">
    </div>
    <div class="col-md-2">
      <label class="control-label">Банк</label>
      <input ng-model="vm.fdata.payment_type" type="radio"
      name="payment_type" value="3">
    </div>
    <div ng-show="vm.total() > vm.fdata.amount" class="col-md-2">
        <label class="control-label text-primary">Долг</label>
        <input ng-model="vm.fdata.is_credit" type="checkbox" value="1">
    </div>
    <div ng-show="vm.fdata.payment_type==0" class="col-md-12">
      <label class="col-md-3 control-label text-right">Пояснение</label>
      <input ng-model="vm.fdata.extra_text" type="text" class="sinput col-md-9">
    </div>
</div>

<br/><br/>
<br/><br/>
<div ng-show="vm.total() > vm.fdata.amount && !vm.fdata.is_credit">
  <div class="col-md-offset-4 col-md-2">Сумма</div>
  <div class="col-md-6">Дата (dd.mm.YY)</div>
  <label class="col-md-2 control-label">
  График доплаты
  </label>
  <div class="col-md-2"> 
    <button type="button" class="btn-add-credit btn btn-xs btn-success btn-block" 
    ng-click="vm.add_credit()">Добавить</button>
  </div>
  <div class="col-md-2">
    <input class="sinput" type="number" ng-model="vm.credit_amount">
  </div>
  <div class="col-md-2">
    <input class="date sinput" type="text" ng-model="vm.credit_date">
  </div>
  <div class="col-md-3">
    <label class="text-primary">Остаток: 
    {{ vm.chk_amount() }}</label>
  </div>
  <div class="col-md-12">
    <table class="table">
      <tr ng-repeat="credit in vm.credits">
        <td>
          {{ $index + 1 }}
        </td>
        <td>
          {{ credit.amount }}
        </td>
        <td>
          {{ credit.date | date:'dd.MM.yyyy' }}
        </td>
        <td>
          <button type="button" class="btn btn-xs btn-danger" 
      ng-click="vm.remove_credit($index)">Убрать</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<br/><br/>

<div ng-show="vm.fdata.clients_count > 1">
<div class="row" ng-show="(vm.fdata.clients_count - 1) > vm.extraclients.length">
  <label class="col-md-3 control-label">
  Доп. клиенты
  </label>
  <label class="col-md-2 control-label">
  Фамилия
  </label>
  <label class="col-md-1 control-label">
  Имя
  </label>
  <label class="col-md-2 control-label">
  Отчество
  </label>
  <label class="col-md-3 control-label">
  Дата рождения
  </label>
  <div class="col-md-2"> 
    <button type="button" class="btn-add-credit btn btn-xs btn-info btn-block" 
    ng-click="vm.search_client()">Поиск</button>
  </div>
  <div class="col-md-2">
    <input class="sinput" type="text" ng-model="vm.ext.last_name">
  </div>
  <div class="col-md-2">
    <input class="sinput" type="text" ng-model="vm.ext.first_name">
  </div>
  <div class="col-md-2">
    <input class="sinput" type="text" ng-model="vm.ext.patronymic">
  </div>
  <div class="col-md-2">
    <input class="date sinput" type="text" ng-model="vm.ext.exborn">
  </div>
  <div class="col-md-2"> 
    <button type="button" class="btn-add-credit btn btn-xs btn-primary btn-block" 
    ng-click="vm.add_client(-1)"
    >Добавить</button>
  </div>
 </div>
  <div class="col-md-offset-4 col-md-8" ng-repeat="clnt in vm.findClients">
  {{ clnt.full_name }} {{ clnt.born | date:'dd.MM.yyyy' }}
    <button type="button" class="btn-add-credit btn btn-xs btn-primary" 
    ng-click="vm.add_client($index)"
    ng-show="(vm.fdata.clients_count - 1) > vm.extraclients.length"
    >Добавить</button>
  </div>

    <div class="col-lg-12 col-md-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-users"></i>
                  </div>
                  <div class="col-xs-9">
                      <div><label>Доп. клиенты ({{vm.fdata.clients_count - 1}}/{{ vm.extraclients.length }})</label></div>
                  </div>
              </div>
          </div>
          <div class="panel-body" ng-show="vm.extraclients.length">
            <div class="row" ng-repeat="clnt in vm.extraclients">
              <div class="col-xs-1">
                {{ $index + 1 }}
              </div>
              <div class="col-md-offset-2 col-md-9"> {{ clnt.full_name }} {{ clnt.born | date:'dd.MM.yyyy' }}
              <i class="fa fa-times pull-right" ng-click="vm.rm_client($index)"></i>
              </div>
            </div>
          </div>
      </div>
    </div>

</div>
<br/><br/>
  <div class="col-md-3">
    <a href="#/cardclient/{{ vm.client.id}}/" class="btn btn-default pull-left">отмена</a>
  </div>  

  <div class="col-md-offset-6 col-md-3">
    <button type="submit" class="btn btn-primary pull-right" ng-click="vm.submit()">Оформить</button>
  </div>
</form>

<script type="text/javascript">
  jQuery(function($){
    $(".date").mask("99.99.9999");
});
</script>