{% load staticfiles %}
{% load core_extras %}
{% load client_extras %}
<!DOCTYPE html>
<html lang="en" ng-app="fcbp">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Печать{% endblock %}</title>
    <link href="{% static "bootstrap-3/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome-4/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static_version "css/style-print.css" %}" rel="stylesheet">

    {% block extra_head %}
    {% endblock %}
  </head>
  <body class="print">
    <center>
        <a href="/#/usecardclient/{{ card.id }}" class="no-print btn btn-info" 
        type="button">
            <i class="fa fa-credit-card"></i> назад в карту
        </a>
        <a href="#btnPrint" class="no-print btn btn-primary " 
        type="button" id="btnPrint">
            <i class="fa fa-print"></i> печать
        </a>
    </center>
    <div class="row">
        <div class="col-md-6 text-center"> ЧЛЕНСКОЕ СОГЛАШЕНИЕ (Персональная карта клиента)</div>
    </div>
    <table class="table-print">
        <tr>
            <td class="no-border">Фамилия, Имя, Отчество</td>
            <td class="no-border" width="150"><strong>{{ client.last_name }}</strong></td>
            <td class="no-border" width="200"><strong>{{ client.first_name }}</strong></td>
            <td width="150"><strong>{{ client.patronymic }}</strong></td>
            <td class="no-border">ЧС</td>
            <td width="100"> &nbsp;<strong>{{ client.uid }}</strong></td>
        </tr>
        <tr>
            <td class="no-border">Дата рождения </td>
            <td><strong>{{ client.born | date:"d.m.Y" }}</strong></td>
            <td class="no-border">Адрес места жительства</td>
            <td colspan="3"><strong>{{ client.address|default:'' }}<strong></td>
        </tr>
        <tr>
            <td class="no-border">Контактные телефоны</td>
            <td class="no-border"><strong>{{ client.mobile|default:''|phone }}</strong></td>
            <td ><strong>{{ client.phone|default:''|phone }}</strong></td>
            <td >Адрес электронной почты</td>
            <td colspan="2"><strong>{{ client.email|default:'' }}</strong></td>
        </tr>
        <tr>
            <td class="no-border">Документ, удостоверяющий личность</td>
            <td colspan="5"><strong>{{ client.passport|default:'' }}</strong></td>
        </tr>
        <tr>
            <td colspan="3">С условиями Договора на оказание услуг от {{ card.date|date:"d.m.Y" }} г. согласен(а)</td>
            <td colspan="2"></td>
            <td rowspan="6">{{ client.last_name }}
            {{ client.first_name }}
            {{ client.patronymic }}</td>
        </tr>
        <tr>
            <td colspan="3">С правилами посещения клуба «Красота и сила» согласно Приложению №1 к Договору от {{ card.date|date:"d.m.Y" }} г.ознакомлен(а)
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="3">С правилами переоформлений клубных карт, абонементов и клип-карт согласно Приложению №2 к Договору от {{ card.date|date:"d.m.Y" }} г. ознакомлен(а)
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="3">С правилами возвратов клубных карт, абонементов и клип-карт согласно Приложению №3 к Договору от {{ card.date|date:"d.m.Y" }} г. ознакомлен(а)
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="3">Я согласен на получение информационных сообщений, новостей, рекламы по сетям электросвязи, в том числе распространяемых посредством использования телефонной, подвижной радиотелефонной, электронной связи, включая направленных посредством SMS-сообщений
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="3">Настоящим выражаю свое согласие на обработку моих персональных данных, указанных в настоящей персональной карте клиента
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>Дата заполнения</td>
            <td>{% now "d.m.Y" %}</td>
            <td ></td><td colspan="3"></td>
        </tr>
    </table>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "jquery/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript">
    $("#btnPrint").click(function() {
        window.print()
    });
    </script>
  </body>
</html>