<div class="alert col-md-12" ng-class="{'alert-info': employee.is_active, 'alert-grey': !employee.is_active}" >
<div class="col-md-12">
	<span class="col-md-3"> {{ employee.full_name }} </span>
	<span class="col-md-2"> {{ employee.born | date:'dd.MM.yyyy' }} </span>
	<span class="col-md-2"> {{ employee.position }} </span>

  <button ng-click="vm.active()" ng-show="employee.is_active" class="btn btn-sm btn-danger pull-right"> Скрыть </button>
  <button ng-click="vm.active()" ng-show="!employee.is_active" class="btn btn-sm btn-default pull-right"> Активировать </button>
  <a href="#/edit-employee/{{employee.id}}" class="btn btn-sm btn-warning pull-right"> Правка </a>
</div>
</div>

<script type="text/javascript">
  jQuery(function($){
   $(".date").mask("99.99.9999");
});
</script>