<div>
  <span ng-click="collapsed=!collapsed" class="alert alert-info col-md-12" > {{ aquaaerobics.name }} </span>
  <div ng-show="collapsed" ng-class="{'alert-warning': aquaaerobics.is_active}" class="alert col-md-12">
      <table class="table">
          <tr>
              <td width="400">Активна</td>
              <td>{{ aquaaerobics.is_active | YN }}</td>
          </tr>
          <tr>
              <td width="400">Кол-во визитов</td>
              <td>{{ aquaaerobics.max_visit | visits }}</td>
          </tr>
          <tr>
              <td>
                  Срок
              </td>
              <td>
              {{ aquaaerobics.period_data | period_str }}    
              </td>
          </tr>
          <tr>
              <td>Время посещения</td>
              <td>{{ aquaaerobics.is_full_time | card_time }}</td>
          </tr>
          <tr>
              <td>Цена</td>
              <td>{{ aquaaerobics.price }}</td>
          </tr>
          <tr>
              <td>Продление</td>
              <td>{{ aquaaerobics.period_prolongation}} дней</td>
          </tr>
          <tr>
              <td>Кол-во клиентов</td>
              <td>{{ aquaaerobics.clients_count}}</td>
          </tr>
      </table>
      <button ng-click="collapsed=!collapsed" class="btn btn-sm btn-danger" > скрыть </button>
      <button ng-click="vm.active()" class="btn btn-sm btn-default pull-right" > Активность </button>

  </div>
</div>