<!-- lists -->
<div>
  <div class="col-md-3">
    <a href="#/products" class="btn btn-primary btn-block">
      Справочники
    </a>
  </div>
 <div class="col-md-3">&nbsp; </div>
 <div class="col-md-6" style="height:34px">&nbsp;</div>
     <br/>
     <br/>
     <br/>
  <div class="alert alert-success alert-dismissible" role="alert" ng-show="vm.success">
    <button type="button" class="close" ng-click="vm.success=false"><span>&times;</span></button>
    <strong>  Данные успешно обновлены. </strong>
  </div>
  
  <div class="alert alert-danger alert-dismissible" role="alert" ng-show="vm.error">
    <button type="button" class="close" ng-click="vm.error=false"><span>&times;</span></button>
    <strong> Ошибка обновления: {{ vm.error_data }} </strong>
  </div>

  <div class="alert alert-info col-md-12" ng-repeat="cardtext in vm.cardtexts">
    <div><strong>{{ cardtext.name }}</strong></div>
    <div class="row text-red">Заголовок</div>
    <div class="row" ng-show="!edit">{{ cardtext.title }}</div><br/>
    <input ng-show="edit" ng-model="cardtext.title" type="text" class="form-control" placeholder="Заголовок">

    <div class="row text-red">Первый пункт</div>
    <div class="row" ng-show="!edit">{{ cardtext.item1 }}</div><br/>
    <input ng-show="edit" ng-model="cardtext.item1" type="text" class="form-control" placeholder="Первый пункт">

    <div class="row text-red">Шапка</div>
    <div ng-show="!edit">{{ cardtext.header }}</div><br/>
    <input ng-show="edit" ng-model="cardtext.header" type="text" class="form-control" placeholder="Шапка">

    <div class="row text-red">Шапка дополнение</div>
    <div ng-show="!edit">{{ cardtext.additional_header }}</div>
    <input ng-show="edit" ng-model="cardtext.additional_header" type="text" class="form-control" placeholder="Шапка дополнение">

    <table class="table">
      <caption> Список пунктов <button class="pull-right btn btn-sm btn-default col-md-2"
           ng-click="vm.add_item(cardtext)">добавить</button>
      </caption>
      <tr ng-repeat="item in cardtext.cardtextitems_set">
        <td>{{ $index + 2 }}</td>
        <td><span ng-show="!edit">
              {{ item.item }}
            </span>
            <input ng-show="edit" ng-model="item.item"
            type="text" class="form-control" placeholder="Текст">
            </input>
        </td>
        <td><i class="fa fa-times cursor-pointer" ng-click="vm.rm_item(cardtext, $index)"></i>
        </td>
      </tr>
    </table>
    <div ng-show="!edit">{{ cardtext.employee }}</div>
    <input ng-show="edit" ng-model="cardtext.employee" type="text" class="form-control" placeholder="Сотрудник">
    <div ng-show="!edit">{{ cardtext.phone }}</div>
    <input ng-show="edit" ng-model="cardtext.phone" type="text" class="form-control" placeholder="Телефон">
    <button ng-click="edit=!edit" class="btn btn-sm btn-warning pull-right" ng-show="!edit"> Правка </button>
    <button ng-click="edit=!edit" class="btn btn-sm btn-default pull-right" ng-show="edit"> Отмена </button>
    <button class="btn btn-sm btn-success pull-left" ng-show="edit"
            ng-click="vm.update(cardtext)"> Сохранить </button>
  </div>
</div>
<!-- end of the lists -->
