<div>
  <span ng-click="collapsed=!collapsed" class="alert alert-info col-md-12" > {{ clubcard.name }} </span>
  <div ng-show="collapsed" ng-class="{'alert-warning': clubcard.is_active}"  class="alert col-md-12">
      <table class="table">
          <tr>
              <td width="400">Активна</td>
              <td>{{ clubcard.is_active | YN }}</td>
          </tr>
          <tr>
              <td width="400">Кол-во визитов</td>
              <td>{{ clubcard.max_visit | visits }}</td>
          </tr>
          <tr>
              <td>
                  Срок
              </td>
              <td>
              {{ clubcard.period_data | period_str }}    
              </td>
          </tr>
          <tr>
              <td>Время посещения</td>
              <td>{{ clubcard.is_full_time | card_time }}</td>
          </tr>
          <tr>
              <td>Цена</td>
              <td>{{ clubcard.price }}</td>
          </tr>
          <tr>
              <td>Активация карты</td>
              <td>{{ clubcard.period_activation }} дней</td>
          </tr>
          <tr>
              <td>Заморозка</td>
              <td>{{ clubcard.period_freeze}} дней</td>
          </tr>
          <tr>
              <td>Продление</td>
              <td>{{ clubcard.period_prolongation}} дней</td>
          </tr>
          <tr>
              <td>Кол-во клиентов</td>
              <td>{{ clubcard.clients_count}}</td>
          </tr>
          <tr>
              <td>Кол-во заморозок</td>
              <td>{{ clubcard.freeze_times || 0 }}</td>
          </tr>
          <tr>
              <td>Скидка на фитнес-тестирование</td>
              <td>{{ clubcard.fitness_testing_discount | EN }}</td>
          </tr>
          <tr>
              <td>Персональная тренировка</td>
              <td>{{ clubcard.personal_training | EN }}</td>
          </tr>
      </table>
      <button ng-click="collapsed=!collapsed" class="btn btn-sm btn-danger" > скрыть </button>
      <button ng-click="vm.active()" class="btn btn-sm btn-default pull-right" > Активность </button>
  </div>
</div>