<!-- Modal new period -->
<div class="modal fade" id="newPeriod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 300px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Новый период</h4>
      </div>
      <form role="form" ng-controller="NewPeriodController as vm">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-11">
            <label>Введите значение</label>
            <input  type="number" required class="form-control"
            ng-model="vm.value">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">отмена</button>
        <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" ng-click="vm.submit()">сохранить</button>          
      </div>
      </form>
    </div>
  </div>
</div> <!-- end modal period -->

<div class="row" ng-show="vm.isAuthenticated">
    <div class="col-lg-3 col-md-3">
        <a href="" ng-click="showPeriods=false; showCards=true">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-credit-card fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">&nbsp;</div>
                            <div>Клубные карты</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-3">
        <a href="" ng-click="showPeriods=true; showCards=false">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-calendar fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">&nbsp;</div>
                            <div>Сроки действия</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div ng-show="showPeriods">
 <div class="col-md-12">
  <button data-toggle="modal" data-target="#newPeriod" class="btn btn-info">
    Новый период
  </button>
  <br/>
  <br/>
 </div>
 <div class="col-md-4">
  <div class="alert alert-info col-md-12" ng-repeat="period in vm.periods">
  {{ period.value | monthes }}
  </div>
 </div>
</div>