<div>
  <span ng-click="collapsed=!collapsed" class="alert alert-info col-md-12" > {{ ticket.name }} </span>
  <div ng-show="collapsed" ng-class="{'alert-warning': ticket.is_active}" class="alert col-md-12" >
      <table class="table">
          <tr>
              <td width="400">Активна</td>
              <td>{{ ticket.is_active | YN }}</td>
          </tr>
          <tr>
              <td>
                  Вид занятия 
              </td>
              <td>
              {{ ticket.sport_name }}    
              </td>
          </tr>
          <tr>
              <td width="400">Кол-во визитов</td>
              <td>{{ ticket.max_visit | visits }}</td>
          </tr>
          <tr>
              <td>
                  Срок
              </td>
              <td>
              {{ ticket.period_data | period_str }}    
              </td>
          </tr>
          <tr>
              <td>Время посещения</td>
              <td>{{ ticket.is_full_time | card_time }}</td>
          </tr>
          <tr>
              <td>Цена</td>
              <td>{{ ticket.price }}</td>
          </tr>
          <tr>
              <td>Продление</td>
              <td>{{ ticket.period_prolongation}} дней</td>
          </tr>
      </table>
      <button ng-click="collapsed=!collapsed" class="btn btn-sm btn-danger" > скрыть </button>
      <button ng-click="vm.active()" class="btn btn-sm btn-default pull-right" > Активность </button>
  </div>
</div>