<!-- Modal new sport -->
<div class="modal fade" id="newTraining" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 300px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Новый вид занятий</h4>
      </div>
      <form role="form" ng-controller="NewTrainingController as vm">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-11">
            <label>Введите наименование</label>
            <input  type="text" required class="form-control"
            ng-model="vm.fdata.name">
          </div>
          <div class="col-md-11">
            <label>Порядок сортировки</label>
            <input  type="number" required class="form-control"
            ng-model="vm.fdata.order_num">
          </div>
          <div class="col-md-11">
            <label>для клип карт</label>
            <input ng-model="vm.fdata.for_personals" type="checkbox" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">отмена</button>
        <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" ng-click="vm.submit()">сохранить</button>          
      </div>
      </form>
    </div>
  </div>
</div> <!-- end modal sport -->

<!-- lists -->
<div>
  <div class="col-md-3">
    <a href="#/products" class="btn btn-primary btn-block">
      Справочники
    </a>
  </div>
 <div class="col-md-3">
  <button data-toggle="modal" data-target="#newTraining" class="btn btn-info btn-block">
    Новый вид занятий
  </button>
 </div>
 <div class="col-md-6" style="height:34px">&nbsp;</div>
 <div class="col-md-4">
     <br/>
  <div class="alert alert-success alert-dismissible" role="alert" ng-show="vm.success">
    <button type="button" class="close" ng-click="vm.success=false"><span>&times;</span></button>
    <strong>  Данные успешно обновлены. </strong>
  </div>

   <div class="alert alert-danger alert-dismissible" role="alert" ng-show="vm.error">
    <button type="button" class="close" ng-click="vm.error=false"><span>&times;</span></button>
    <strong> Ошибка обновления: {{ vm.error_data }} </strong>
  </div>

  <div class="alert col-md-12" ng-repeat="train in vm.training"
  ng-class="train.is_active ? 'alert-info': 'alert-grey'">
  <span ng-show="!edit">
    {{ train.name }} ({{ train.order_num}})
    (для клип карт: {{ train.for_personals | YN }})
  </span>
  <input ng-show="edit" ng-model="train.name" type="text" class="form-control" placeholder="Наименование">
  <input ng-show="edit" ng-model="train.order_num" type="text" class="form-control">
  <div ng-show="edit">
    <label >для клип карт</label>
    <input ng-model="train.for_personals" type="checkbox">
  </div>
  
<div class="col-md-12">
  <button ng-click="edit=!edit" class="btn btn-sm btn-warning pull-right" ng-show="!edit"> Правка </button>
  <button ng-show="!edit" ng-click="vm.active(train)" class="btn btn-sm btn-default pull-right" > Активность </button>
  <button ng-click="edit=!edit" class="btn btn-sm btn-default pull-right" ng-show="edit"> Отмена </button>
  <button class="btn btn-sm btn-success pull-left" ng-show="edit"
          ng-click="vm.update(train)"> Сохранить </button>  
</div>

  </div>
 </div>
</div>
<!-- end of the lists -->
