<div class="row col-md-12">
  <strong>Архив покупок
   {{ vm.client.full_name }}
   {{ vm.client.born | date:'dd.MM.yyyy' }} </strong>
</div>


<div class="row col-md-12">
  <div class="col-md-3">
    <a href="#/cardclient/{{ vm.client.id }}/" class="btn btn-default btn-block"> Вернуться в карту</a>
  </div>
</div>

<!-- ClubCard -->
<div class="panel panel-warning col-md-12">
  <div class="panel-heading"><strong>Клубные карты</strong></div>
<table class="table">
  <tr>
    <td>дата продажи</td><td>наименование</td>
    <td>активирована</td>
    <td>срок действия</td><td>тренировки</td>
  </tr>
  <tr ng-repeat="card in vm.clubcard_set">
    <td >
      {{ card.date | date:'dd.MM.yyyy' }}</td>
    <td>
      <strong><a href="#/archive/clubcard/{{ card.id }}">
        {{ card.name }}
      </a></strong>
    </td>
    <td> {{ (card.date_begin | date:'dd.MM.yyyy') || 'неактивна' }}</td>
    <td> {{ card.date_end | date:'dd.MM.yyyy' }}</td>
    <td> {{ card.rest_visits }} </td>
  </tr>
</table>
</div>
<!-- end ClubCard -->