<div class="row col-md-12">
  <strong>Архив покупок
   {{ vm.client.full_name }}
   {{ vm.client.born | date:'dd.MM.yyyy' }} </strong>
</div>


<div class="row col-md-12">
  <div class="col-md-3">
    <a href="#/cardclient/{{ vm.client.id }}/" class="btn btn-default btn-block"> Вернуться в карту</a>
  </div>
</div>

<!-- ClubCard -->
<div class="panel panel-warning col-md-12">
  <div class="panel-heading"><strong>Клубные карты</strong></div>
<table class="table">
  <tr>
    <td>дата продажи</td><td>наименование</td>
    <td>активирована</td><td>срок действия</td>
    <td>тренировки</td><td>комментарий</td>
  </tr>
  <tr ng-repeat="card in vm.clubcard_set">
    <td >
      {{ card.date | date:'dd.MM.yyyy' }}</td>
    <td>
      <strong><a href="#/archive/clubcard/{{ card.id }}">
        {{ card.name }}
      </a></strong>
    </td>
    <td> {{ (card.date_begin | date:'dd.MM.yyyy') || 'неактивна' }}</td>
    <td> {{ card.date_end | date:'dd.MM.yyyy' }}</td>
    <td> {{ card.rest_visits }} </td>
    <td> <i class="fa fa-2x fa-info-circle text-yellow cursor-pointer" aria-hidden="true" 
    ng-show="card.block_comment" title="{{ card.block_comment }}"></i>
    </td>
  </tr>
</table>
</div>
<!-- end ClubCard -->

<!-- AquaAerobics -->
<div class="panel panel-info col-md-12">
  <div class="panel-heading"><strong>Аквааэробика</strong></div>
<table class="table">
  <tr>
    <td>дата продажи</td><td>наименование</td>
    <td>активирована</td><td>срок действия</td>
    <td>тренировки</td><td>комментарий</td>
  </tr>
  <tr ng-repeat="aqua in vm.aqua_set">
    <td >
      {{ aqua.date | date:'dd.MM.yyyy' }}</td>
    <td>
      <strong><a href="#/archive/aquaaerobics/{{ aqua.id }}">
        {{ aqua.name }}
      </a></strong>
    </td>
    <td> {{ (aqua.date_begin | date:'dd.MM.yyyy') || 'неактивна' }}</td>
    <td> {{ aqua.date_end | date:'dd.MM.yyyy' }}</td>
    <td> {{ aqua.rest_visits }} </td>
    <td> <i class="fa fa-2x fa-info-circle text-yellow cursor-pointer" aria-hidden="true" 
    ng-show="aqua.block_comment" title="{{ aqua.block_comment }}"></i>
    </td>
  </tr>
</table>
</div>
<!-- end AquaAerobics -->

<!-- Ticket -->
<div class="panel panel-success col-md-12">
  <div class="panel-heading"><strong>Абонементы</strong></div>
<table class="table">
  <tr>
    <td>дата продажи</td><td>наименование</td>
    <td>активирована</td><td>срок действия</td>
    <td>тренировки</td><td>комментарий</td>
  </tr>
  <tr ng-repeat="ticket in vm.ticket_set">
    <td >
      {{ ticket.date | date:'dd.MM.yyyy' }}</td>
    <td>
      <strong><a href="#/archive/ticket/{{ ticket.id }}">
        {{ ticket.name }}
      </a></strong>
    </td>
    <td> {{ (ticket.date_begin | date:'dd.MM.yyyy') || 'неактивна' }}</td>
    <td> {{ ticket.date_end | date:'dd.MM.yyyy' }}</td>
    <td> {{ ticket.rest_visits }} </td>
    <td> <i class="fa fa-2x fa-info-circle text-yellow cursor-pointer" aria-hidden="true" 
    ng-show="ticket.block_comment" title="{{ ticket.block_comment }}"></i>
    </td>
  </tr>
</table>
</div>
<!-- end Ticket -->