{% load staticfiles %}
{% load core_extras %}
<!DOCTYPE html>
<html lang="en" ng-app="fcbp">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{% static "bootstrap-3/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome-4/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static_version "css/style.css" %}" rel="stylesheet">

    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
  {% block container %}
  {% endblock %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "jquery/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "jquery/jquery.maskedinput.min.js" %}"></script>
    <script src="{% static "bootstrap-3/js/bootstrap.min.js" %}"></script>
  <!--    <script src="{% static "angularjs/angular.min.js" %}"></script> -->
    <script src="{% static "angularjs/angular.js" %}"></script>
    <script src="{% static "angularjs/angular-route.min.js" %}"></script>
    <script src="{% static "angularjs/angular-cookies.min.js" %}"></script>
    <script src="{% static "angularjs/webcam.min.js" %}"></script>

  <!-- javascripts for the application -->
    <script src="{% static_version "js/fcbp.js" %}"></script>
    <script src="{% static_version "js/fcbp.routers.js" %}"></script>
    <script src="{% static_version "js/fcbp.filters.js" %}"></script>

    <script src="{% static_version "js/auth/auth.module.js" %}"></script>
    <script src="{% static_version "js/auth/auth.services.js" %}"></script>
    <script src="{% static_version "js/auth/login.controller.js" %}"></script>

    <script src="{% static_version "js/layout/layout.module.js" %}"></script>
    <script src="{% static_version "js/layout/start.controller.js" %}"></script>
    <script src="{% static_version "js/layout/products.controller.js" %}"></script>
    <script src="{% static_version "js/layout/periods.services.js" %}"></script>
    <script src="{% static_version "js/layout/new-period.controller.js" %}"></script>
    <script src="{% static_version "js/layout/new-clubcard.controller.js" %}"></script>
    <script src="{% static_version "js/layout/club_card.services.js" %}"></script>
    <script src="{% static_version "js/layout/clubcard.directive.js" %}"></script>

    <script src="{% static_version "js/clients/clients.module.js" %}"></script>
    <script src="{% static_version "js/clients/clients.controllers.js" %}"></script>
    <script src="{% static_version "js/clients/new-client.controller.js" %}"></script>

    <script src="{% static_version "js/navbar/navbar.module.js" %}"></script>
    <script src="{% static_version "js/navbar/navbar.controller.js" %}"></script>
  <!-- end app scripts -->
  {% block extra_js %}
  {% endblock %}    
  </body>
</html>