{% load staticfiles %}
{% load core_extras %}
<!DOCTYPE html>
<html lang="en" ng-app="fcbp">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{% static "bootstrap-3/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome-4/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static_version "css/style.css" %}" rel="stylesheet">

    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
  {% block container %}
  {% endblock %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "jquery/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "jquery/jquery.maskedinput.min.js" %}"></script>
    <script src="{% static "bootstrap-3/js/bootstrap.min.js" %}"></script>
  <!--    <script src="{% static "angularjs/angular.min.js" %}"></script> -->
    <script src="{% static "angularjs/angular.js" %}"></script>
    <script src="{% static "angularjs/angular-route.min.js" %}"></script>
    <script src="{% static "angularjs/angular-cookies.min.js" %}"></script>
    <script src="{% static "angularjs/webcam.min.js" %}"></script>

  <!-- javascripts for the application -->
    <script src="{% static_version "js/fcbp.js" %}"></script>

    <script src="{% static_version "js/routers/fcbp.common.routers.js" %}"></script>
    <script src="{% static_version "js/routers/fcbp.product.routers.js" %}"></script>
    <script src="{% static_version "js/routers/fcbp.reception.routers.js" %}"></script>
    <script src="{% static_version "js/fcbp.routers.js" %}"></script>

    <script src="{% static_version "js/fcbp.filters.js" %}"></script>

    <script src="{% static_version "js/auth/auth.module.js" %}"></script>
    <script src="{% static_version "js/auth/auth.services.js" %}"></script>
    <script src="{% static_version "js/auth/login.controller.js" %}"></script>

    <script src="{% static_version "js/layout/layout.module.js" %}"></script>
    <script src="{% static_version "js/layout/start.controller.js" %}"></script>

    <script src="{% static_version "js/products/products.module.js" %}"></script>
    <script src="{% static_version "js/products/products.controller.js" %}"></script>
    <script src="{% static_version "js/products/periods/periods.services.js" %}"></script>
    <script src="{% static_version "js/products/periods/periods.controller.js" %}"></script>
    <script src="{% static_version "js/products/periods/new-period.controller.js" %}"></script>
    <script src="{% static_version "js/products/clubcard/new-clubcard.controller.js" %}"></script>
    <script src="{% static_version "js/products/clubcard/clubcards.controller.js" %}"></script>
    <script src="{% static_version "js/products/clubcard/club_card.services.js" %}"></script>
    <script src="{% static_version "js/products/clubcard/clubcard.directive.js" %}"></script>
    <script src="{% static_version "js/products/aqua/aqua-aerobics.controller.js" %}"></script>
    <script src="{% static_version "js/products/aqua/new-aqua-aerobics.controller.js" %}"></script>
    <script src="{% static_version "js/products/aqua/aqua-aerobics.services.js" %}"></script>
    <script src="{% static_version "js/products/aqua/aqua-aerobics.directive.js" %}"></script>
    <script src="{% static_version "js/products/sports/sports.services.js" %}"></script>
    <script src="{% static_version "js/products/sports/sports.controller.js" %}"></script>
    <script src="{% static_version "js/products/sports/new-sport.controller.js" %}"></script>
    <script src="{% static_version "js/products/tickets/tickets.controller.js" %}"></script>
    <script src="{% static_version "js/products/tickets/new-tickets.controller.js" %}"></script>
    <script src="{% static_version "js/products/tickets/tickets.services.js" %}"></script>
    <script src="{% static_version "js/products/tickets/tickets.directive.js" %}"></script>
    <script src="{% static_version "js/products/personals/personals.controller.js" %}"></script>
    <script src="{% static_version "js/products/personals/personals.services.js" %}"></script>
    <script src="{% static_version "js/products/personals/new-personal.controller.js" %}"></script>
    <script src="{% static_version "js/products/personals/personal.directive.js" %}"></script>
    <script src="{% static_version "js/products/timing/timing.controller.js" %}"></script>
    <script src="{% static_version "js/products/timing/new-timing.controller.js" %}"></script>
    <script src="{% static_version "js/products/timing/timing.services.js" %}"></script>
    <script src="{% static_version "js/products/timing/timing.directive.js" %}"></script>

    <script src="{% static_version "js/employees/employees.module.js" %}"></script>
    <script src="{% static_version "js/employees/employees.services.js" %}"></script>
    <script src="{% static_version "js/employees/employee.directive.js" %}"></script>
    <script src="{% static_version "js/employees/employees.controller.js" %}"></script>
    <script src="{% static_version "js/employees/new-employee.controller.js" %}"></script>
    <script src="{% static_version "js/employees/employees-list.controller.js" %}"></script>
    <script src="{% static_version "js/employees/positions/positions.controller.js" %}"></script>
    <script src="{% static_version "js/employees/positions/positions.services.js" %}"></script>
    <script src="{% static_version "js/employees/positions/new-position.controller.js" %}"></script>


    <script src="{% static_version "js/clients/clients.module.js" %}"></script>
    <script src="{% static_version "js/clients/clients.controllers.js" %}"></script>
    <script src="{% static_version "js/clients/clients.services.js" %}"></script>
    <script src="{% static_version "js/clients/client-credit.services.js" %}"></script>
    <script src="{% static_version "js/clients/client-introductory.controller.js" %}"></script>
    <script src="{% static_version "js/clients/client-payment.services.js" %}"></script>
    <script src="{% static_version "js/clients/new-client.controller.js" %}"></script>
    <script src="{% static_version "js/clients/new-client-product.controller.js" %}"></script>
    <script src="{% static_version "js/clients/card-client.controller.js" %}"></script>
    <script src="{% static_version "js/clients/client.directive.js" %}"></script>
<!-- use products -->
    <script src="{% static_version "js/clients/use/clubcard.controller.js" %}"></script>
    <script src="{% static_version "js/clients/use/aquaaerobics.controller.js" %}"></script>
    <script src="{% static_version "js/clients/use/ticket.controller.js" %}"></script>
    <script src="{% static_version "js/clients/use/personal.controller.js" %}"></script>
    <script src="{% static_version "js/clients/use/timing.controller.js" %}"></script>


    <script src="{% static_version "js/navbar/navbar.module.js" %}"></script>
    <script src="{% static_version "js/navbar/navbar.controller.js" %}"></script>

<!-- reception -->
    <script src="{% static_version "js/reception/reception.controller.js" %}"></script>
    <script src="{% static_version "js/reception/online.controller.js" %}"></script>
  <!-- end app scripts -->
  {% block extra_js %}
  {% endblock %}    
  </body>
</html>