{% load staticfiles %}
{% load core_extras %}
{% load client_extras %}
<!DOCTYPE html>
<html lang="en" ng-app="fcbp">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Печать{% endblock %}</title>
    <link href="{% static "bootstrap-3/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome-4/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static_version "css/style-print.css" %}" rel="stylesheet">

    {% block extra_head %}
    {% endblock %}
  </head>
  <body class="print">
    <center>
        <a href="/#/cardclient/{{ client.id }}" class="no-print btn btn-info" 
        type="button">
            <i class="fa fa-credit-card"></i> назад в карту
        </a>
        <a href="#btnPrint" class="no-print btn btn-primary " 
        type="button" id="btnPrint">
            <i class="fa fa-print"></i> печать
        </a>
    </center>
{% for i in '01' %}
    <table width="800">
        <tr>
            <td colspan="6" align="center"><strong>Приложение №3 </strong>
             к Абонентскому договору от {{ card.date|date:"d.m.Y" }}<br/>
             О предоставлении права пользования физкультурно-оздоровительными услугами клуба<br/>
             «Красота и cила» расположенному по адресу: г. Пушкин, б-р А. Толстого,  д. 50, кор. 1</td>
        </tr>
    </table>
    <table class="table-print">
        <tr>
           <td colspan="4" width="400">
            <strong>Персональная карта Клиента Клуба "Красота и сила"</strong>
           </td>
           <td>№ договора</td>
           <td width="240">{{ client.uid }}</td>
        </tr>
        <tr>
            <td width="140"><i>Фамилия, Имя, Отчество</i></td>
            <td><strong>{{ client.last_name }}</strong></td>
            <td colspan="2"><strong>{{ client.first_name }}</strong></td>
            <td colspan="2"><strong>{{ client.patronymic }}</strong></td>
        </tr>
        <tr>
            <td><i>Дата рождения</i></td>
            <td> {{ client.born | date:"d.m.Y" }}</td>
            <td><i>Контактные телефоны</i></td>
            <td colspan="3">{{ client.mobile | phone }} 
                {% if client.mobile and client.phone %}, {% endif %}
                {{ client.phone | phone }}</td>
        </tr>
        <tr>
            <td><i>Адрес электронной почты</i></td>
            <td colspan="5">{{ client.email | default:'' }}</td>
        </tr>
        <tr>
            <td><i>Адрес места жительства</i></td>
            <td colspan="5">{{ client.address | default:'' }}</td>
        </tr>
        <tr>
            <td rowspan="2"><i>Документ удостоверяющий личность</i></td>
            <td><i>номер</i></td>
            <td colspan="2">{{ client.passport_number | default:'' }}</td>
            <td><i>дата выдачи </i></td>
            <td colspan="2"> {{ client.passport_date | date:"d.m.Y"  }}</td>
        </tr>
        <tr>
            <td><i>выдан</i></td>
            <td colspan="5">{{ client.passport_issued | default:''}}</td>
        </tr>
    </table>

    <table width="800">
        <tr>
            <td align="center">
                Настоящим выражаю свое согласие на обработку моих персональных данных, указанных в настоящей персональной карте клиента.
            </td>
        </tr>
    </table>
    <table width="800">
        <tr>
            <td align="center">
Я согласен на получение информационных сообщений, новостей, рекламы по сетям электросвязи, в том числе распространяемых посредством использования телефонной, подвижной радиотелефонной, электронной связи, включая направленных посредством SMS-сообщений
            </td>
        </tr>
    </table>
  <table width="800" class="table-print">
    <tr>
        <td width="140"><i>Клиент</i></td>
        <td width="320"></td>
        <td width="120"><i>Исполнитель</i></td>
        <td></td>
    </tr>
    <tr>
        <td >Дата заполнения</td>
        <td ></td>
        <td >Дата заполнения</td>
        <td td>
    </tr>
  </table>
{% if i == '0' %}

<br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/>

{% endif %}
{% endfor %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "jquery/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript">
    $("#btnPrint").click(function() {
        window.print()
    });
    </script>
  </body>
</html>