{% extends "base.html" %}
  {% block container %}
<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController as vm">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">ФК Красота и Сила</a>
    </div> <!-- ./navbar-header -->
    <div class="collapse navbar-collapse">
      <ul ng-show="vm.user" class="nav navbar-nav pull-right">
      {% verbatim %}
        <li>{{ vm.user.username }}</li>
      {% endverbatim %}
          <li><a href="javascript:void(0)" ng-click="vm.logout()">Выход</a></li>
      </ul>
      <ul ng-show="!vm.user" class="nav navbar-nav pull-right">
          <li><a href="#/login">Вход</a></li>
      </ul>
    </div> <!-- /.collapse.navbar-collapse -->
  </div> <!-- /.container-fluid -->
</nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 ng-view"></div>
    </div>
  </div>
  {% endblock %}
